<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"> <!--Fortæller at det er et extended html-dokument - extented fra thymeleaf? -->
<head>
  <title>Cat-fact POST</title>
  <link href="/style.css" type="text/css" rel="stylesheet">
	<!-- bootstraaaaap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<!-- Kolonne til inputfelt -->
			<div class="col">
				<div id="form-container">
					<!-- Dette er en form
					Vi laver @PostMapping("/postCatFact") i Controlleren for at lave et endpoint - pga. denne form -->
					<form id="registration-form" action="/postCatFact" method="post">
						<!-- Tekst til inputfeltet i browser -->
						<label for="catfact">CatFact</label>
						<!--
						<input> Laver input-felt
						type="text" == Siger hvilket input der tages imod i inputfeltet
						id="catfact" == Kalder bestemt styling vi har i css-filen
						name="catfact" == giver inputtet vi får ind referencenavnet, catfact -->
						<input type="text" id="catfact" name="catfact"><br><br>
						<!-- Laver et inputfelt med boolsk værdi: enten er der trykket submit eller også er der ikke-->
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
			<!-- Ny kolonne til den info jeg vil gerne vil vise - den som brugeren giver mig-->
			<div class="col">
				<!-- Jeg skal give den en context -->
				<!-- th:each == for-each loop
				= for hver catFact på listen catFactList(som er navnet tilføjet i en addAttribute ovre i Controlleren)
				skal den gøre det der står inde i <p>-tagget -->
				<p th:each="catFact : ${catFactList}">
					<span>Catfact number: </span>
					<span th:text="${catFact.getID()}"></span>
					<span>: </span>
					<span th:text="${catFact.getFactText()}"></span>
				</p>
				<!-- tidligere: <p th:text="${firstCatFact.printList()}"></p> --><!-- firstCatFact.getFactText() -->
			</div>
		</div>
	</div>
</body>
</html>